/* Lane styles */
.LaneHeader {
  margin: 10px;
}

.LaneName {
  font-weight: bold;
  font-size: 18px;
}

.Lane {
  color: gray;
  background: #eee;
  box-shadow: 1px 2px 2px;
  width: 29%;
  float: left;
  margin: 2%;
}

.AddNote {
  margin: 5px 0 10px;
  border-radius: 50%;
  border: none;
  padding: 0 8px;
  height: 25px;
  font-size: 18px;
  line-height: 25px;
}

.LaneDelete {
  margin: 10px;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  height: 25px;
}